@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
 }
}

@keyframes fade-in {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
}
  
  .fade-in {
    animation: fade-in 2s ease-in-out;
  }

  /* index.css */
body {
  @apply overflow-hidden;
}

.event-carousel {
    width: 100%;
    margin: 20px 0;
}

.event-card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-image {
    width: 100%;
    height: auto;
}

.event-info {
    padding: 10px;
    text-align: center;
}

.event-info h3 {
    font-size: 1.2rem;
    margin: 0;
}

.event-info p {
    margin: 5px 0;
    color: gray;
}

.slick-slide {
  display: flex; /* Ensure each slide is a flex container */
  justify-content: center; /* Center the content */
}

.slick-list {
  overflow: hidden; /* Prevent overflow */
}

.animate-walking {
  animation: walking 3s infinite;
}

@keyframes walking {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(20px); }
}

  